<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">

    <a href="/" class="navbar-brand">
        <i class="fab fa-atlassian"></i>
    </a>

    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#col">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="col">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Ana Sayfa</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/asama1">Asama 1</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/asama2">Asama 2/3</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link disabled" href="/asama3bilgi">Asama 4/5</a>
            </li>
        </ul>
    </div>
</nav>