{% extends "layout.html" %}


{% block body %}
<h3 class="w-50 text-center mx-auto" style="margin-top: 100px">
    Web Indexleme Uygulamasina Hosgeldiniz
</h3>

<div class="container">
    <div class="card mx-auto mt-3" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Asama 1</h5>
            <p class="card-text">Sayfada Gecen Kelimelerin Frekanslarını Hesaplama</p>
            <a href="/asama1" class="btn btn-danger">Git</a>
        </div>
    </div>
    <div class="card mx-auto mt-3" style="width: 18rem;">

        <div class="card-body">
            <h5 class="card-title">Asama 2/3</h5>
            <p class="card-text">Anahtar Kelime Çıkarma ve Benzerlik Oranı Bulma</p>
            <a href="/asama2" class="btn btn-danger">Git</a>
        </div>
    </div>
    <div class="card mx-auto mt-3" style="width: 18rem;">

        <div class="card-body">
            <h5 class="card-title">Asama 4/5</h5>
            <p class="card-text">Site İndexleme, Sıralama, Semantik Analiz</p>
            <a href="/asama3bilgi" class="btn btn-danger">Git</a>
        </div>
    </div>


</div>




{% endblock body %}